<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Robo Resume</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
  
  <div class="container">
    <div class="starter-template">
        <h1>Robo Resume</h1>
        
    </div>
		     
    <form action="#" th:action="@{/addExperiance}" th:object="${experiance}" method="post">
    	<div><input type="hidden" name ="personId" th:value="${personId}"  /> </div>
        <div><label>Job Titel: <input type="text" th:field="*{jobTitle}" /> </label></div>
        <div><label>Company Name: <input type="text" th:field="*{companyName}" /> </label></div>
        <div><label>Start Date: <input type="text" th:field="*{startDate}" /> </label></div>
        <div><label>End Date: <input type="text" th:field="*{endDate}" /> </label></div>
       
        <div><input type="submit" value="Add Another Education"/> <input type="reset" value="Reset" /></div>
        
     
        
    </form>
    
    <a th:href="@{/addExpriance}">Add Experiance </a>
    
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
           
  </body>
</html>
